<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style/style1.css">
</head>
<body>
	<header>Medihelp</header>
	<main>
		<form action = "Post">
			<label>name</label>
			<input type="text" name="username">
			<label>password</label>
			<input type="password" name="password">
			<button onclick="submit">SUBMIT</button>
		</form>
	</main>
	<footer>copyright</footer>

</body>
</html>