<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/CSS/style.css">
</head>
<body>
	<header>
		<h1>medhelp</h1>
		<ul>
			<li><a href="templates/index.html" >HOME</a></li>
			<li><a href="aboutus.html" >ABOUT US</li>
			<li><a href="contactus.html">CONTACTUS</li>
		</ul>

		
	</header>
	<main>

		<section class="imageholder">

			
		</section>
		<section class="cardholder">
		<a href="form1" action="/form1"> <div class="cards">
			card1
		</div></a>
		<a href="form2" action="/form2"><div class="cards">
			card2
		</div></a>
		<a href="form3" action="/form3"><div class="cards">
			card3
		</div></a>
	</section>

	</main>
	<footer>
		<h1>copyright</h1>
	</footer>

</body>
</html>